@import url('https://fonts.googleapis.com/css?family=Roboto|Kanit:800&display=swap');

/* -------------------    Colours used   --------

light blue -   #A9B9DD  rgb(122, 155, 208)
light green    #A2D4AF
orange         #F3AF42  rgb(242, 157, 118)
light orange   #FEFAB1
light yellow   rgba(254, 250, 177, 0.3)
light green    #A2D4AF   rgb(103, 192, 138)

*/

. {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.page-header h1 {
    font-family: 'Kanit', sans-serif;
    bottom: 0;
    text-align: center;
    font-size: 80px;
}

.page-header {
    padding-top: 80px;
    position: relative;
}

.intro-image {
    height: 100%;
    width: 100%;
    background-image: url("../images/city-monochrome.png");
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;

    position: relative;
}

.intro-selection {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.choice-container {
    width: 100vw;
    justify-content: center;
    align-items: stretch;
}

.choice-beginners {
    margin: 0;
    background-color: rgba(254, 250, 177, 0.8);
    min-height: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: auto;
    display: inline-block;
}

.choice-advanced {
    margin: 0;
    background-color: rgba(122, 155, 208, 0.8);
    min-height: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: auto;
    display: inline-block;
}

.choice-professionals {
    margin: 0;
    background-color: rgba(103, 192, 138, .8);
    min-height: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: auto;
    display: inline-block;
}

/* ---------------------  Buttons intro ----------------*/

.btn-choice-beginners {
    box-shadow: inset 0px 1px 0px 0px rgb(254, 250, 177);
	background:linear-gradient(to bottom, #d0db2f 5%, #5c9e06 100%);
    background-color:#5c9e06;
    border-color: #5c9e06;
    border-radius: 5px;
    min-width: 100px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    margin-top: 10px;
    box-shadow: 5px 5px 5px grey;
}

.btn-choice-beginners:hover {
	background:linear-gradient(to bottom, #5c9e06 5%, #d0db2f 100%);
	background-color:#5c9e06;
}

.btn-choice-advanced {
    box-shadow: inset 0px 1px 0px 0px rgb(122, 155, 208);
	background:linear-gradient(to bottom, rgb(122, 155, 208) 5%, rgb(36, 76, 141) 100%);
    background-color:rgb(122, 155, 208);
    border-color: rgb(36, 76, 141);
    border-radius: 5px;
    min-width: 100px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    margin-top: 10px;
    box-shadow: 5px 5px 5px grey;
}

.btn-choice-advanced:hover {
	background:linear-gradient(to bottom, rgb(36, 76, 141) 5%, rgb(122, 155, 208) 100%);
	background-color:rgb(36, 76, 141);
}

.btn-choice-professionals {
    box-shadow: inset 0px 1px 0px 0px rgb(103, 192, 138);
	background:linear-gradient(to bottom, rgb(103, 192, 138) 5%, rgb(58, 119, 82) 100%);
    background-color:rgb(103, 192, 138);
    border-color: rgb(58, 119, 82);
    border-radius: 5px;
    min-width: 100px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    margin-top: 10px;
    box-shadow: 5px 5px 5px grey;
}

.btn-choice-professionals:hover {
	background:linear-gradient(to bottom, rgb(58, 119, 82) 5%, rgb(103, 192, 138) 100%);
	background-color:rgb(58, 119, 82);
}

/* ---------------------  Animations ----------------*/

.fade-in-2 {
  animation: fadeIn ease-in-out 2s;
  -webkit-animation: fadeIn ease-in-out 2s;
  -moz-animation: fadeIn ease-in-out 2s;
  -o-animation: fadeIn ease-in-out 2s;
  -ms-animation: fadeIn ease-in-out 2s;
}

.fade-in-4 {
  animation: fadeIn ease-in-out 4s;
  -webkit-animation: fadeIn ease-in-out 4s;
  -moz-animation: fadeIn ease-in-out 4s;
  -o-animation: fadeIn ease-in-out 4s;
  -ms-animation: fadeIn ease-in-out 4s;
}

.fade-in-6 {
  animation: fadeIn ease-in-out 6s;
  -webkit-animation: fadeIn ease-in-out 6s;
  -moz-animation: fadeIn ease-in-out 6s;
  -o-animation: fadeIn ease-in-out 6s;
  -ms-animation: fadeIn ease-in-out 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
    }
}

/* ---------------   Footer ----------------------------*/

.footer {
      position: fixed;
      background-color: #080808;
      opacity: 0.9;
      width: 100%;
      height: 65px;
      bottom: 0;
      padding: 10px;
}

.footer h2 {
    font-size: 1.5rem;
}

.quick-links {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    color: rgb(44, 135, 201);
}

.quick-links h2 {
    text-decoration: none;
}

/* ----------------------------------  Beginners section   ----------------------------*/

#beginners {
    background-color: #FAF7BD;
    margin: 0;
}

/* ----------------------------------  Advanced section   ----------------------------*/

#advanced {
    background-color: #8FA9D3;
    margin: 0;
}

/* ----------------------------------  Pro section   ----------------------------*/


#professionals {
    background-color: #A2D4AF;
    margin: 0;
}

/* -------------------------------    Screen optimizations                 ----------------------------*/

@media screen and (max-width: 765px) {

    .choice-beginners {
        border-radius: 0;
        width: 100%;
    }

    .choice-advanced {
        border-radius: 0;
    }

    .choice-professionals {
        border-radius: 0;
    }

}

/* ---------------   Addittional helping elements- DELETE AFTER PUBLISHING! ----------------------------*/

.border {
    border: 2px solid red!important;
}